<div class="details border-b pb-3">
  <ul class="flex">
    <li class="flex flex-1 flex-col justify-center items-center">
      <span class="flex gap-1 items-center">
        <ion-icon name="star"></ion-icon>
        <label class="font-bold">0</label>
      </span>
      <span class="text-sm">Notas</span>
    </li>
    <li class="flex flex-1 flex-col justify-center items-center">
      <span class="flex gap-1 items-center">
        <label class="font-bold">25 MIN</label>
      </span>
      <span class="text-sm">Tempo de envio</span>
    </li>
    <li class="flex flex-1 flex-col justify-center items-center">
      <span class="flex gap-1 items-center">
        <label class="font-bold">R$ 250.00</label>
      </span>
      <span class="text-sm">Para dois</span>
    </li>
  </ul>
</div>
