<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title slot="start" class="font-bold">
      Principal
      <ion-icon name="chevron-down"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- https://ionicframework.com/docs/angular/slides -->
  <div class="p-4">
    <app-banner [bannerImages]="banners"/>

    <div class="list">
      <ion-list lines="none">
        <ion-list-header class="mb-3">
          <div>
              <ion-text class="text-xl">Restaurantes próximos</ion-text>
              <p class="text-sm text-gray-500">Descubra sabores únicos perto de você</p>
          </div>
        </ion-list-header>

        <app-restaurant/>
        <app-restaurant/>
        <app-restaurant/>
        <app-restaurant/>
        <app-restaurant/>

      </ion-list>
    </div>
  </div>
</ion-content>
