<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title slot="start" class="font-bold">
      Principal
      <ion-icon name="chevron-down"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-4">

    @if (banners.length) {
      <app-banner [bannerImages]="banners"/>
    } @else {
      <ion-skeleton-text animated style="height: 34vh;"/>
    }

    <div class="list">
      <ion-list lines="none">
        <ion-list-header class="mb-3">
          <div>
              <ion-text class="text-xl">Restaurantes próximos</ion-text>
              <p class="text-sm text-gray-500">Descubra sabores únicos perto de você</p>
          </div>
        </ion-list-header>

        @for (restaurant of restaurants; track restaurants) {
          <app-restaurant [restaurant]="restaurant"/>
        } @empty {
          <app-restaurant-skeleton/>
        }

      </ion-list>
    </div>
  </div>
</ion-content>
