<ion-header>
  <ion-toolbar color="tertiary">
   <div class="p-3">
      <ion-label class="ms-2 text-xl font-bold">Filtrar</ion-label>
      <ion-searchbar
      placeholder="Pesquisar"
      animated
      debounce="800"
      (ionChange)="onSearchChange($event)"
      #searchBar
      ></ion-searchbar>
   </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">

    <ion-list-header>
      <ion-label>
        @if (restaurants.length) {
          <h2>Resultados para "{{ query }}"</h2>
        }
      </ion-label>
    </ion-list-header>

    @if (isLoading()) {
      <app-restaurant-skeleton/>
    } @else if (!restaurants.length) {
      <p class="text-center text-xl">Não há restaurantes</p>
    } @else {
      @for (restaurant of restaurants; track restaurant) {
        <app-restaurant [restaurant]="restaurant"/>
      }
    }

  </ion-list>
</ion-content>
